# Build and Release Folders
bin-debug/
bin-release/
build/
[Oo]bj/
[Bb]in/
.vscode/
.clangd/
.cache/

# Other files and folders
.settings/
compile_commands.json
perf*

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
packets.txt
out.txt
gmon.out
k12.txt
*.pcap